@import "variables";

html {
  font-size: 13px;
  font-family: 'Roboto-Regular', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {

}

p, span, a {

}

a {
  text-decoration: none;
  color: $color-spase-dark;
  font-family: 'Roboto-Regular', Arial, sans-serif;
}

a:hover, a:focus {
  text-decoration: none;
  color: $color-blue-dark;
}

// Container
header {
  background-color: $color-white;
  width: 100%;
  .header-item {
    border-bottom: 1px solid $color-gray-light;
  }
}
