$color-blue: #1f8adf;
$color-blue-dark: #0068bd;
$color-blue-light: #e3eafd;

$color-gray: #dde0e5;
$color-gray-light: #eff0f2;

$color-spase: #6f7c98;
$color-spase-light: #909ebb;
$color-spase-dark: #334059;

$color-white: #ffffff;
