@import "../variables";

.bottom-links {
  border-bottom: 1px solid $color-gray;
  border-top: 1px solid $color-gray;
  color: $color-spase;
  font-size: 11px;
  padding: 32px 0;

  ul > li {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 22px;
    }

    &:hover span{
      color: $color-blue;
    }

    a {
      color: $color-spase;
      &:hover {
        color: $color-blue-dark;
      }
    }
  }

  .version-page {
    color: $color-spase-light;
    display: block;
    text-align: right;
    width: 100%;
  }
}
