@import "../variables";
footer {
  font-size: 11px;

  .footer-container {
    margin-top: 72px;
    margin-bottom: 78px;
  }

  .footer-container .container {
    padding: 0;
  }

  .footer-logo {
    img {
      margin-bottom: 15px;
      margin-top: -5px;
      width: 60px;
    }
  }

  .footer-column {
  }

  .footer-column-with-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-content {
    color: $color-spase;
    margin: 0 10px;
  }

  h2 {
    color: $color-spase;
    font-family: 'Roboto-Bold', Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  a {
    color: $color-spase;
    &:hover {
      color: $color-blue-dark;
    }
  }

  ul>li:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .copyright-container {
    color: $color-spase-light;
  }
}
