@import "../variables";

@keyframes color-animation {
  from {background-color: $color-white;}
  to {background-color: $color-blue-dark;}
}

.info-section {
  margin-bottom: 15px;
  margin-top: 25px;

  .header-container h2{
    color: $color-spase-dark;
    font-family: 'Roboto-Medium', Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .info-container .container {
    padding: 0;
  }

  .info-row {
    margin-bottom: 25px;
  }

  .info-row:last-child .info-item{
    border: none;
  }

  .info-item {
    border-bottom: 1px solid $color-gray;
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 20px;

    &:hover {
      .img-container {
        animation-duration: 0.3s;
        animation-name: color-animation;
        background-color: $color-blue-dark;
      }

      span {
        color: $color-blue-dark;
      }
    }

    .img-container {
      background-color: $color-white;
      border-radius: 50%;
      float: left;
      height: 55px;
      margin-right: 15px;
      padding-top: 14px;
      transition: all .3 ease-in-out;
      width: 55px;
    }

    .img-container img {
      display: block;
      height: 24px;
      margin: 0 auto;
      width: 24px;
    }

    span {
      color: $color-spase-dark;
      display: block;
      font-family: 'Roboto-Regular', Arial, sans-serif;
      font-size: 13px;
      height: 100%;
      margin-top: 6px;
    }
  }

  .phone-call-container {
    background: white;
    height: 320px;
    padding: 25px;
    width: 100%;
  }
}

