@import "../variables";

.tab-wrapper {
  position: relative;

  .main-menu li {
    color: $color-spase-dark;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 56px;
    margin-right: 20px;
    padding-top: 18px;
    position: relative;
    text-transform: uppercase;
    z-index: 0;
  }

  .main-menu li:hover {
    color: $color-blue;
  }

  .main-menu li.active .line{
    background-color: $color-blue;
    transition: width 0.2s linear;
    width: 100%;
  }

  .line {
    display: none;
    position: absolute;
    width: 0;
    height: 3px;
    background-color: $color-white;
    bottom: 0;
    left: 0;
  }

  .tab-content {
    display: none;
  }

  .tab-content > div {
    background-color: #fff;
    border-top: 1px solid $color-gray-light;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px -7px #000000;
    min-height: 130px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .tab-content_item ul a {
    display: block;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;

    .with-dash:before {
        content: "\2014";
        margin-right: 15px;
    }
  }

  .tab-content_item ul li:hover span{
    color: $color-blue;
  }

  .tab-content_item ul a span{
    color: $color-spase-light;
    margin-left: 5px;
  }
}

.tab-wrapper:hover {
  .line {
    display: block;
  }
}