@import "../variables";

.partners {

  .container ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    margin-top: 90px;
  }

  .partners-item {
    display: block;

    &:hover {
      .partners-item-link a {
        color: $color-blue-dark;
      }

      .partners-item-description span {
        color: $color-spase-dark;
      }

      .partners-item-logo img {
        box-shadow: -1px 0px 20px -8px #000000;
      }
    }

    .partners-item-logo {
      text-align: center;

      img {
        border-radius: 50%;
        height: 64px;
        margin-bottom: 20px;
        width: 64px;
      }
    }

    .partners-item-link {
      text-align: center;
      margin-bottom: 10px;
      span {
        color: $color-blue;
        font-size: 12px;
        font-family: 'Roboto-Bold', Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .partners-item-description {
      max-width: 160px;
      text-align: center;
      
      span {
        color: $color-spase-light;
        font-family: 'Roboto-Regular', Arial, sans-serif;
        font-size: 11px;
        font-weight: 400;
      }
    }
  }
}

